body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-menu-vertical {
  border-right: none !important; 
}

.ant-menu-title-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ant-layout-sider {
  overflow-y: auto;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100% !important;
  min-width: 330px !important;
  max-width: none !important;
  height: 100vh;
  background-color: white !important;
}

.ant-layout-sider-children {
  width: auto !important;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-right, .leaflet-marker-shadow, .leaflet-marker-draggable {
  display: none !important;
}

.splitView {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.divider {
  width: 5px;
  height: 100vh;
  background-color: grey;
  cursor: w-resize;
}

.rightPane {
  width: 100vw;
  height:100vh;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
}